@import "tailwindcss";
@plugin "@tailwindcss/forms";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-light: #f6f6f8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #195de6;
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;

  --font-sans: var(--font-inter);
  --font-display: var(--font-inter);

  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Inter, sans-serif;
}

[type='checkbox']:checked, [type='radio']:checked {
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.toggle-checkbox:checked {
  @apply right-0 border-primary bg-primary;
}

.toggle-checkbox:checked+.toggle-label {
  @apply bg-primary/20;
}

.watermark-pattern {
  background-image: radial-gradient(circle at 2px 2px, rgba(255, 255, 255, 0.05) 1px, transparent 0);
  background-size: 40px 40px;
}

.bg-background-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(17 22 33 / var(--tw-bg-opacity, 1));
}

.modal-overlay {
  background-color: rgba(14, 18, 27, 0.4);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}